    /dts-v1/;
    /plugin/;
    / {
           compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

           fragment@0 {
              target-path = "/";
              __overlay__ {
                 keypad: MATRIX8x16 {
                    compatible = "gpio-matrix-keypad";
                    debounce-delay-ms = <10>;
                    col-scan-delay-us = <10>;
                    drive-inactive-cols = <1>;
			/* 
		       try to use GPIO only lines
                       to keep SPI and I2C usable
                    */
                    row-gpios = <&gpio 21 0    // 0
                                 &gpio 20 0      // 1
                                 &gpio 16 0    // 2
                                 &gpio 12 0     // 3
								 &gpio 7 0    // 4
                                 &gpio 8 0    // 5
                                 &gpio 25 0    // 6
                                 &gpio 24 0>;   // 7

                    col-gpios = <&gpio 23 0    // 8
                                 &gpio 18 0    // 9
                                 &gpio 15 0    // 10
                                 &gpio 14 0    // 11
								 &gpio 4 0    // 12
                                 &gpio 17 0    // 13
                                 &gpio 27 0    // 14
                                 &gpio 22 0    // 15
                                 &gpio 10 0    // 16
                                 &gpio 9 0    // 17
								 &gpio 11 0    // 18
                                 &gpio 5 0    // 19
                                 &gpio 19 0    // 20
                                 &gpio 13 0    // 21
                                 &gpio 6 0    // 22
                                 &gpio 26 0>;  // 23
                    /*
                      Keycodes from /usr/include/linux/input-event-codes.h
                      converted to hex using printf '%02x\n'
                    */

                    linux,keymap = <
                                    // col0 row0 KEY_Q
									0x00000010
                                    // col0 row1 KEY_Q
									0x01000010
                                    // col0 row2 KEY_Q
									0x02000010
                                    // col0 row3 KEY_Q
									0x03000010
                                    // col0 row4 KEY_Q
									0x04000010
                                    // col0 row5 KEY_Q
									0x05000010
									// col0 row6 KEY_Q
									0x06000010
                                    // col0 row7 KEY_Q
									0x07000010
                                    // col0 row8 KEY_Q
									0x08000010
                                    // col0 row9 KEY_Q
									0x09000010
                                    // col0 row10 KEY_Q
									0x0a000010
                                    // col0 row11 KEY_Q
									0x0b000010
                                    // col0 row8 KEY_Q
									0x0c000010
                                    // col0 row9 KEY_Q
									0x0d000010
                                    // col0 row10 KEY_Q
									0x0e000010
                                    // col0 row11 KEY_Q
									0x0f000010
                                    // col0 row0 KEY_Q
									0x00010010
                                    // col0 row1 KEY_Q
									0x01010010
                                    // col0 row2 KEY_Q
									0x02010010
                                    // col0 row3 KEY_Q
									0x03010010
                                    // col0 row4 KEY_Q
									0x04010010
                                    // col0 row5 KEY_Q
									0x05010010
									// col0 row6 KEY_Q
									0x06010010
                                    // col0 row7 KEY_Q
									0x07010010
                                    // col0 row8 KEY_Q
									0x08010010
                                    // col0 row9 KEY_Q
									0x09010010
                                    // col0 row10 KEY_Q
									0x0a010010
                                    // col0 row11 KEY_Q
									0x0b010010
                                    // col0 row8 KEY_Q
									0x0c010010
                                    // col0 row9 KEY_Q
									0x0d010010
                                    // col0 row10 KEY_Q
									0x0e010010
                                    // col0 row11 KEY_Q
									0x0f010010
                                    // col0 row0 KEY_Q
									0x00020010
                                    // col0 row1 KEY_Q
									0x01020010
                                    // col0 row2 KEY_Q
									0x02020010
                                    // col0 row3 KEY_Q
									0x03020010
                                    // col0 row4 KEY_Q
									0x04020010
                                    // col0 row5 KEY_Q
									0x05020010
									// col0 row6 KEY_Q
									0x06020010
                                    // col0 row7 KEY_Q
									0x07020010
                                    // col0 row8 KEY_Q
									0x08020010
                                    // col0 row9 KEY_Q
									0x09020010
                                    // col0 row10 KEY_Q
									0x0a020010
                                    // col0 row11 KEY_Q
									0x0b020010
                                    // col0 row8 KEY_Q
									0x0c020010
                                    // col0 row9 KEY_Q
									0x0d020010
                                    // col0 row10 KEY_Q
									0x0e020010
                                    // col0 row11 KEY_Q
									0x0f020010
                                    // col0 row0 KEY_Q
									0x00030010
                                    // col0 row1 KEY_Q
									0x01030010
                                    // col0 row2 KEY_Q
									0x02030010
                                    // col0 row3 KEY_Q
									0x03030010
                                    // col0 row4 KEY_Q
									0x04030010
                                    // col0 row5 KEY_Q
									0x05030010
									// col0 row6 KEY_Q
									0x06030010
                                    // col0 row7 KEY_Q
									0x07030010
                                    // col0 row8 KEY_Q
									0x08030010
                                    // col0 row9 KEY_Q
									0x09030010
                                    // col0 row10 KEY_Q
									0x0a030010
                                    // col0 row11 KEY_Q
									0x0b030010
                                    // col0 row8 KEY_Q
									0x0c030010
                                    // col0 row9 KEY_Q
									0x0d030010
                                    // col0 row10 KEY_Q
									0x0e030010
                                    // col0 row11 KEY_Q
									0x0f030010
                                    // col0 row0 KEY_Q
									0x00040010
                                    // col0 row1 KEY_Q
									0x01040010
                                    // col0 row2 KEY_Q
									0x02040010
                                    // col0 row3 KEY_Q
									0x03040010
                                    // col0 row4 KEY_Q
									0x04040010
                                    // col0 row5 KEY_Q
									0x05040010
									// col0 row6 KEY_Q
									0x06040010
                                    // col0 row7 KEY_Q
									0x07040010
                                    // col0 row8 KEY_Q
									0x08040010
                                    // col0 row9 KEY_Q
									0x09040010
                                    // col0 row10 KEY_Q
									0x0a040010
                                    // col0 row11 KEY_Q
									0x0b040010
                                    // col0 row8 KEY_Q
									0x0c040010
                                    // col0 row9 KEY_Q
									0x0d040010
                                    // col0 row10 KEY_Q
									0x0e040010
                                    // col0 row11 KEY_Q
									0x0f040010
                                    // col0 row0 KEY_Q
									0x00050010
                                    // col0 row1 KEY_Q
									0x01050010
                                    // col0 row2 KEY_Q
									0x02050010
                                    // col0 row3 KEY_Q
									0x03050010
                                    // col0 row4 KEY_Q
									0x04050010
                                    // col0 row5 KEY_Q
									0x05050010
									// col0 row6 KEY_Q
									0x06050010
                                    // col0 row7 KEY_Q
									0x07050010
                                    // col0 row8 KEY_Q
									0x08050010
                                    // col0 row9 KEY_Q
									0x09050010
                                    // col0 row10 KEY_Q
									0x0a050010
                                    // col0 row11 KEY_Q
									0x0b050010
                                    // col0 row8 KEY_Q
									0x0c050010
                                    // col0 row9 KEY_Q
									0x0d050010
                                    // col0 row10 KEY_Q
									0x0e050010
                                    // col0 row11 KEY_Q
									0x0f050010
                                    // col0 row0 KEY_Q
									0x00060010
                                    // col0 row1 KEY_Q
									0x01060010
                                    // col0 row2 KEY_Q
									0x02060010
                                    // col0 row3 KEY_Q
									0x03060010
                                    // col0 row4 KEY_Q
									0x04060010
                                    // col0 row5 KEY_Q
									0x05060010
									// col0 row6 KEY_Q
									0x06060010
                                    // col0 row7 KEY_Q
									0x07060010
                                    // col0 row8 KEY_Q
									0x08060010
                                    // col0 row9 KEY_Q
									0x09060010
                                    // col0 row10 KEY_Q
									0x0a060010
                                    // col0 row11 KEY_Q
									0x0b060010
                                    // col0 row8 KEY_Q
									0x0c060010
                                    // col0 row9 KEY_Q
									0x0d060010
                                    // col0 row10 KEY_Q
									0x0e060010
                                    // col0 row11 KEY_Q
									0x0f060010
                                    // col0 row0 KEY_Q
									0x00070010
                                    // col0 row1 KEY_Q
									0x01070010
                                    // col0 row2 KEY_Q
									0x02070010
                                    // col0 row3 KEY_Q
									0x03070010
                                    // col0 row4 KEY_Q
									0x04070010
                                    // col0 row5 KEY_Q
									0x05070010
									// col0 row6 KEY_Q
									0x06070010
                                    // col0 row7 KEY_Q
									0x07070010
                                    // col0 row8 KEY_Q
									0x08070010
                                    // col0 row9 KEY_Q
									0x09070010
                                    // col0 row10 KEY_Q
									0x0a070010
                                    // col0 row11 KEY_Q
									0x0b070010
                                    // col0 row8 KEY_Q
									0x0c070010
                                    // col0 row9 KEY_Q
									0x0d070010
                                    // col0 row10 KEY_Q
									0x0e070010
                                    // col0 row11 KEY_Q
									0x0f070010>;
                 };
              };
           };
      };
